
<div class='container'>
  <div class="row container mt-4">
    <div class=" col-md-6">
    <h2> My Widgets </h2>
    </div>
    <div class=" col-md-6 d-flex justify-content-end">
       <%= render "widgets/create_modal"%>
    </div>
  </div>
    <div class="pull-right mb-3 ">
      <%# <%= render "widgets/search", var: @var%> %>
    </div>

  <% @widgets.each do |widget| %>
    <div class="card">
      <div class=" row container">
      <div class="col-md-2 tnail">
       <%= image_tag "#{widget['user']['images']['small_url']}", :class => "tnail"  %>
      </div>

      <div class="col-md-8">
       <h4> <%= widget['name']%></h4>
        <p class="card-text"><%= widget['description']%></p>

        <p class="small">Owner: <%= widget['user']['name']%> </p>
      </div>
  </div>
    </div>
    
  <%end%>
</div>
